* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background: transparent;
  /* background-color: #181825; */
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 50px;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* MODULE GROUPS */
.modules-center {
  background-color:#181825;
  border-radius: 50px;
  padding: 0 7.5px;
}

.modules-left,
.modules-right {
  background-color:#181825;
  border-radius: 10px;
}

.modules-left {
  padding-right: 10px;
}
.modules-right {
  padding: 0 10px;
}
/* ---------- */

#workspaces {
  background-color: transparent;
  margin-right: 21px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-notification,
#custom-spotify,
.custom-youtube,
#window,
#tray {
  border-radius: 4px;
  margin: 6px 2px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#window {
  border-bottom:#f9e2af groove 1px;
  color:#f9e2af;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 2px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory {
  background-color: #fab387;
}
#battery {
  background-color: #f38ba8;  
}
@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #a6e3a1;
}

#backlight {
  background-color: #fab387;
}

#pulseaudio {
  background-color: #f9e2af;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  font-weight: 900;
  background: transparent;
  color:#94e2d5;
  border-radius: 50px;
  padding: 0px 15px;
}

#custom-power {
  font-size: larger;
  font-weight: bold;
  color:aliceblue;
  margin-right: 15px;

  text-shadow: 1px 1px 5px #fff
}

#custom-notification {
  background-color: #a6e3a1;
  margin-right: 25px;
}

#custom-spotify {
  color:#cdd6f4;
  border-radius: 50px;
}

.custom-youtube {
  color:#f9e2af;
  border-radius: 50px;
  padding: 0 15px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
